{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ApnaBazaar{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Apna<span>Bazaar</span></h1>
        </div>
        <div class="nav-links">
            <a href="{% url 'Home' %}">Home</a>
            <a href="{% url 'Products' %}">Products</a>
            <a href="{% url 'About' %}">About Us</a>
            <a href="{% url 'Contact' %}">Contact</a>
        </div>
        <div class="btn-group">
            <button>Login</button>
        </div>
    </header>
    {% block content %}

    {% endblock %}
</body>
</html>